1DAM/LingMarc/EjerciciosRepaso/EjercicioRepaso4.5/EjercicioRepaso4.5.2.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="viaje">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellidos" type="xs:string"/>
            <xs:element name="fechaInicio" type="xs:string"/>
            <xs:element name="fechaFin" type="xs:string"/>
            <xs:element name="origen" type="xs:string"/>
            <xs:element name="relacionDestinos">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="destino" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="ciudad" type="xs:string"/>
                                    <xs:element name="hotel" type="xs:string"/>
                                    <xs:element name="numNoches" type="xs:positiveInteger"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="precioViaje" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>